# Binaries
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea
*.iws
*.iml
*.ipr
out/

# NetBeans
nbproject/private/
build/
nbdist/
nbactions.xml
nb-configuration.xml
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Mac
.DS_Store

# Misc
*.swp
release.properties

# Release artifact
# NOTE: Workaround for resolving release version inside Bamboo build
release_version.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Maven
log/
target/
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup

# Gradle
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**
/src/intTest/resources/n4devdb_test_temp.db
